<div class="row">
  <div class="col-sm-12">
    <h3><%= @poll.question %></h3>

    <div id="resultsContainer" data-token="<%= @poll.token %>">
      <svg id="graph"></svg>
      <br>
      <h4>Total votes: <%= @total_votes %></h4>
    </div>
  </div>
</div>